/* 小于1000px */
@media screen and (max-width: 1000px){
    //.app-wrapper .app-header .head-menu{
    //    display: none;
    //    float: right;
    //    position: absolute;
    //    background-color: #0f3469;
    //    top: 70px;
    //    right: 20px;
    //    overflow: hidden;
    //    .item{
    //        float: none;
    //        .link{
    //            line-height: 45px;
    //            &.active::after,
    //            &:hover::after{
    //                width: 56px;
    //                height: 2px;
    //            }
    //        }
    //    }
    //}
    //.app-wrapper .app-header .head-menu.show{
    //    display: block;
    //}
    //.app-wrapper .app-header  .fold-menu{
    //    display: block;
    //}


    /*登录页面*/
    #app .login-block{
        width: 500px;
        .show-pic{
            display: none;
        }
        .input-section{
            margin: 0 auto;
        }
    }

    /* 顶部欢迎文字 */
    .welcome-text{
        display: none;
    }
}
